    <button type="button" class="image {{if this.isLarge "large"}}" {{on "click" this.toggleSize}}>
        <img ...attributes>
        <small>View {{if this.isLarge "Smaller" "Larger"}}</small>
    </button>        