<!--
    While all other HTML attributes follow the "last-write wins" rule, the values for the class attribute are merged
-->
<a
  ...attributes
  href={{this.shareURL}}
  target="_blank"
  rel="external nofollow noopener noreferrer"
  class="share button"
>
  {{yield}}
</a>